# Midterm
Konvicny Martin

In [179]:
import json
import requests
import pandas as pd

In [180]:
payload = '{"cuni":"66805807"}'
r = requests.post('https://ies-midterm.soulution.rocks/login',payload)

In [181]:
r

In [182]:
outcome = json.loads(r.text)
outcome

{'data': {'personal_code': '1f3cf29a',
  'dataset_ids': ['5aa21103e8',
   'f894683be9',
   '24f88cb68c',
   '775352ba11',
   '86c214b421']},
 'message': 'Hello, Konvičný Martin! Good luck with the midterm. GET your data set from /data/file_id endpoint; use the codes you received in the data response as the file_id parameter! Print the personal code in your notebook.'}

In [183]:
print(outcome['data']['personal_code'])

1f3cf29a

In [184]:
codes = outcome['data']['dataset_ids']
print(codes)

['5aa21103e8', 'f894683be9', '24f88cb68c', '775352ba11', '86c214b421']

In [186]:
dataset = {}
n = 10
for data_id in codes:
    r = requests.get(url=f'https://ies-midterm.soulution.rocks/data/{data_id}')
    i = 0
    while r.status_code !=200:  
        r=requests.get(url=f'https://ies-midterm.soulution.rocks/data/{data_id}')
    d=r.json()['data']
    ticker = d['company']
    data = pd.DataFrame(d['data']).set_index('Date')
    data.index = pd.to_datetime(data.index)
    
    dataset[ticker] = data

In [187]:
    ticker = d['company']
    data = pd.DataFrame(d['data']).set_index('Date')
    data.index = pd.to_datetime(data.index)
    
    dataset[ticker] = data

In [198]:
df = pd.concat(dataset)
print(df)

                               Open                High                 Low  \
     Date
BME  2019-01-02  36.189998626708984  37.810001373291016  36.040000915527344
     2019-01-03   36.95000076293945                37.5  36.029998779296875
     2019-01-04   36.45000076293945   37.79999923706055   36.15999984741211
     2019-01-07                37.5   38.59000015258789                37.5
     2019-01-08               39.75               39.75  38.130001068115234
...                             ...                 ...                 ...
TSCO 2020-11-17   132.0800018310547   134.2100067138672   131.1199951171875
     2020-11-18               132.0  132.55999755859375  128.10000610351562
     2020-11-19   128.4600067138672   131.7899932861328               128.0
     2020-11-20   130.0500030517578  131.39999389648438   128.4199981689453
     NaT                        NaN                 NaN                 NaN

                              Close           Adj.Close   Volume
     Date
BME  2019-01-02  37.630001068115234   33.53054428100586    42000
     2019-01-03   36.43000030517578  32.461265563964844    24600
     2019-01-04   37.31999969482422   33.25431823730469    34600
     2019-01-07   38.02000045776367    33.8780632019043    29500
     2019-01-08   38.43000030517578   34.24338912963867    53900
...                             ...                 ...      ...
TSCO 2020-11-17  131.67999267578125  131.27867126464844  1459400
     2020-11-18   128.4199981689453  128.02862548828125  1486100
     2020-11-19              131.25  130.84999084472656  1248100
     2020-11-20   129.6999969482422   129.6999969482422  1324500
     NaT                        NaN                 NaN      NaN

[1831 rows x 6 columns]

In [199]:
df.dropna(how='all',inplace = True)
print(df)

                               Open                High                 Low  \
     Date
BME  2019-01-02  36.189998626708984  37.810001373291016  36.040000915527344
     2019-01-03   36.95000076293945                37.5  36.029998779296875
     2019-01-04   36.45000076293945   37.79999923706055   36.15999984741211
     2019-01-07                37.5   38.59000015258789                37.5
     2019-01-08               39.75               39.75  38.130001068115234
...                             ...                 ...                 ...
TSCO 2020-11-16  131.97000122070312  133.13999938964844  130.97999572753906
     2020-11-17   132.0800018310547   134.2100067138672   131.1199951171875
     2020-11-18               132.0  132.55999755859375  128.10000610351562
     2020-11-19   128.4600067138672   131.7899932861328               128.0
     2020-11-20   130.0500030517578  131.39999389648438   128.4199981689453

                              Close           Adj.Close   Volume
     Date
BME  2019-01-02  37.630001068115234   33.53054428100586    42000
     2019-01-03   36.43000030517578  32.461265563964844    24600
     2019-01-04   37.31999969482422   33.25431823730469    34600
     2019-01-07   38.02000045776367    33.8780632019043    29500
     2019-01-08   38.43000030517578   34.24338912963867    53900
...                             ...                 ...      ...
TSCO 2020-11-16  132.82000732421875  132.41522216796875  1918100
     2020-11-17  131.67999267578125  131.27867126464844  1459400
     2020-11-18   128.4199981689453  128.02862548828125  1486100
     2020-11-19              131.25  130.84999084472656  1248100
     2020-11-20   129.6999969482422   129.6999969482422  1324500

[1826 rows x 6 columns]

In [200]:
df = df.apply(lambda x: pd.to_numeric(x))
print(df)

                       Open        High         Low       Close   Adj.Close  \
     Date
BME  2019-01-02   36.189999   37.810001   36.040001   37.630001   33.530544
     2019-01-03   36.950001   37.500000   36.029999   36.430000   32.461266
     2019-01-04   36.450001   37.799999   36.160000   37.320000   33.254318
     2019-01-07   37.500000   38.590000   37.500000   38.020000   33.878063
     2019-01-08   39.750000   39.750000   38.130001   38.430000   34.243389
...                     ...         ...         ...         ...         ...
TSCO 2020-11-16  131.970001  133.139999  130.979996  132.820007  132.415222
     2020-11-17  132.080002  134.210007  131.119995  131.679993  131.278671
     2020-11-18  132.000000  132.559998  128.100006  128.419998  128.028625
     2020-11-19  128.460007  131.789993  128.000000  131.250000  130.849991
     2020-11-20  130.050003  131.399994  128.419998  129.699997  129.699997

                  Volume
     Date
BME  2019-01-02    42000
     2019-01-03    24600
     2019-01-04    34600
     2019-01-07    29500
     2019-01-08    53900
...                  ...
TSCO 2020-11-16  1918100
     2020-11-17  1459400
     2020-11-18  1486100
     2020-11-19  1248100
     2020-11-20  1324500

[1826 rows x 6 columns]

In [201]:
df.index.names = ['Ticker','Date']
print(df)

                         Open        High         Low       Close   Adj.Close  \
Ticker Date
BME    2019-01-02   36.189999   37.810001   36.040001   37.630001   33.530544
       2019-01-03   36.950001   37.500000   36.029999   36.430000   32.461266
       2019-01-04   36.450001   37.799999   36.160000   37.320000   33.254318
       2019-01-07   37.500000   38.590000   37.500000   38.020000   33.878063
       2019-01-08   39.750000   39.750000   38.130001   38.430000   34.243389
...                       ...         ...         ...         ...         ...
TSCO   2020-11-16  131.970001  133.139999  130.979996  132.820007  132.415222
       2020-11-17  132.080002  134.210007  131.119995  131.679993  131.278671
       2020-11-18  132.000000  132.559998  128.100006  128.419998  128.028625
       2020-11-19  128.460007  131.789993  128.000000  131.250000  130.849991
       2020-11-20  130.050003  131.399994  128.419998  129.699997  129.699997

                    Volume
Ticker Date
BME    2019-01-02    42000
       2019-01-03    24600
       2019-01-04    34600
       2019-01-07    29500
       2019-01-08    53900
...                    ...
TSCO   2020-11-16  1918100
       2020-11-17  1459400
       2020-11-18  1486100
       2020-11-19  1248100
       2020-11-20  1324500

[1826 rows x 6 columns]

In [196]:
df.reset_index('Date')['Date'].groupby('Ticker').min()

Ticker
BME    2019-01-02
PSN    2019-05-08
RTO    2020-01-24
SMIN   2019-01-02
TSCO   2019-01-02
Name: Date, dtype: datetime64[ns]

Yes. It is from 2019/01/02.

In [197]:
df.reset_index('Date')['Date'].groupby('Ticker').max()

Ticker
BME    2020-11-20
PSN    2020-11-20
RTO    2020-01-24
SMIN   2020-11-20
TSCO   2020-11-20
Name: Date, dtype: datetime64[ns]

Yes. It is from 2020/11/20.